 @font-face {
   font-family: 'MyFont';
   src: url('./Cattus.otf');
   font-weight: 900;
   font-style: bold;
 }

 .hello {
   color: red;
   font-family: 'MyFont';
   background: url('./icon.png');
   font-size: 20px;
 }